<div id="center-container">
  <form (ngSubmit)="submitForm()">
    <h1 style="text-align: right;font-size: 270%;">: الاجابة عن التساؤل   </h1>
    <div class="form-group" style="text-align: right;">
      <label for="message" style="text-align: right;font-size: 200%;"> : محتوى الاجابة </label>
      <textarea class="form-control" id="message" name="message" rows="2" [(ngModel)]="response.message" name="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" style="text-align: right;">ارسال الاجابة </button>
  </form>
</div>
