<div class="login-box">
  <div class="signin topline" >

  <div id="box" style="height: 10px;">
<h1 style="text-align:center"> Les Concours </h1>
<tr class="table-light" *ngFor="let c of concoursList; index as i">
  <th scope="row">{{i+1}}</th><td style="width:20px;color:black"></td>

  <td>
    <img [src]="'data:image/jpeg;base64,' + c.imageData" style="width: 180px;height: 180px;" />
  </td>

  <td id="ligne">{{c.poste}}</td>
  <td id="ligne">{{c.dateExamen}}</td>
  <td id="ligne">{{c.dateDelais}}</td>
  <td id="ligne">{{c.description}}</td>
  <td id="ligne">
      <div class="form-group row">
          <div class="col-md-5"><button class="button-1" role="button" [routerLink]="['/admin/concours/modifConcours', c.id]">modifier</button></div>
          <div class="col-md-5"><button class="button-5" role="button" (click)="deletConcours(c.id)">supprimer</button></div>
      </div>
  </td>
</tr>

</div></div></div>



