.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}

.text-center i {
  font-size: 20px;
  margin-right: 10px;
}

.text-center input[type="text"] {
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 250px;
}
