
<div class="text-center">
  <input type="text" [(ngModel)]='term' [ngModelOptions]="{standalone: true}" placeholder="&#xf002;...بحث" style="text-align: right;">
</div>




<br>
<div class="projcard-container">
  <div class="projcard projcard-blue" *ngFor="let c of concoursList | filter:term, index as i">
    <div class="projcard-bar"></div>
      <div class="projcard-innerbox">
          <img class="projcard-img" [src]="'data:image/jpeg;base64,' + c.image" />
          <div class="projcard-textbox">
              <div class="projcard-title">إسم الوظيفة المطلوبة: {{ c.poste }}</div><br>
              <div class="projcard-subtitle"><strong style="color: rgb(43, 42, 42);font-family: 'Courier New', Courier, monospace;">موعد إجتياز الإمتحان : </strong>{{ c.dateExamen }}</div>
              <div class="projcard-subtitle"><strong style="color: black;font-family: 'Courier New', Courier, monospace;">موعد إنتهاء المناظرة:</strong> {{ c.dateDelais }}</div>
              <div class="projcard-subtitle"><strong style="color: black;font-family: 'Courier New', Courier, monospace;">موعد الإعلان عن النتائج: </strong>{{ c.dateResultat }}</div>
<div><br>
  <button style="width: 200px;height:50px; margin-right:0px;border-radius: 14px; text-align: center;margin-right: 250px;" class="btn btn-info" (click)="openDialog(c.description)">مزيد من التفاصيل</button><br><br>

                <button style="width: 200px;height:50px; margin-right:0px;border-radius: 14px; text-align: center;margin-right: 250px;" class="btn btn-primary" *ngIf="loginStatus" [routerLink]="['/candidature', c.id]">طلب المشاركة في المناظرة</button>
                <button *ngIf="!loginStatus" style="background-color: rgb(220, 184, 126);border:none;margin-right: 100px;border-radius: 5px;" routerLink="/login">للتمكن من المشاركة في المناظرة يجب عليك تسجيل حسابك الخاص والمشاركة به</button>
              <br>
            </div>
          </div>
      </div>
  </div>
</div>




