
  <!-- Sign up form -->
  <body class="signup inscri">
    <div class="container">

      <div class="signup-content">
        <h2  style="background-color: #6dabe4; text-align: center;color: white;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">إنشاء    حساب    شخصي <i class="fa fa-user"></i> </h2>

        <div class="signup-form">
          <form
          #f="ngForm"
            method="POST"
            class="register-form"
            id="register-form"
            (ngSubmit)="enregistrer()">



          <div class="form-group">
            <label for="cin"><i class="zmdi zmdi-lock"></i></label>
            <input
             ngModel name="cin" #cin="ngModel"  class="form-control"    required maxlength="8" minlength="8"
              type="text"
              style="text-align : right;"
              name="cin"
              id="cin"
              [(ngModel)]="par.cin"
              placeholder="رقم بطاقة التعريف"/>

            <p class="help-block text-danger" style="text-align: right;"></p>

            <div class="alert alert-warning" style="text-align : right;" *ngIf="cin.touched && cin.errors?.['required']"> خانة رقم بطاقة التعريف ضرورية</div>
            <div  class="alert alert-warning" style="text-align : right;" *ngIf="cin.touched && cin.errors?. ['minlength'] || cin.errors?. ['maxlength']">خانة رقم بطاقة التعريف متكونة من 8 أرقام</div>
          </div>



          <div class="form-group">
            <label for="prenom"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input style="text-align : right;"  [(ngModel)]="par.prenom" placeholder="الإسم" ngModel name="prenom" #prenom="ngModel" type="text" class="form-control"  id="prenom" required>
            <p class="help-block text-danger" style="text-align: right;"></p>
            <div class="alert alert-warning" style="text-align : right;" *ngIf="prenom.invalid && prenom.touched">  خانة الإسم ضرورية</div>
          </div>



            <div class="form-group">
              <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input  [(ngModel)]="par.nom" ngModel name="name" #name="ngModel" type="text"
            class="form-control"
            style="text-align : right;"
            placeholder="اللقب" id="name" required/>

         <p class="help-block text-danger" style="text-align: right;"></p>
            <div  class="alert alert-warning" style="text-align : right;" *ngIf="name.invalid && name.touched">خانة اللقب ضرورية</div>
            </div>



            <div class="form-group">
              <label for="tel"><i class="zmdi zmdi-lock"></i></label>
              <input
              ngModel name="tel" #tel="ngModel"  class="form-control"    required maxlength="8"
                type="text"
                id="tel"
                [(ngModel)]="par.telephone"
                placeholder="رقم الهاتف الجوال الشخصي"
                style="text-align : right;"
              />
              <p class="help-block text-danger" style="text-align: right;"></p>
            <div class="alert alert-warning" style="text-align : right;" *ngIf="tel.touched && tel.errors?.['required']">خانة الهاتف الشخصي ضرورية</div>
            <div  class="alert alert-warning" style="text-align : right;" *ngIf="tel.touched && tel.errors?. ['minlength']">خانة الهاتف الجوال متكونة متكونة 8 أرقام</div>
          </div>



          <div class="form-group">
            <label for="password"
              ><i class="zmdi zmdi-lock-outline"></i
            ></label>
            <input
              type="password"
              id="password"
              [(ngModel)]="par.motdepasse"
              placeholder="كلمة العبور"
              style="text-align : right;"
              name="password" #password="ngModel"
              type="password" class="form-control" required
            />
            <p class="help-block text-danger" style="text-align: right;"></p>
            <div class="alert alert-warning" style="text-align : right;" *ngIf="password.touched && password.errors?.['required']">خانة كلمة العبور ضرورية</div>
          </div>




          <div class="form-group">
            <label for="motdepasseConfirm"
              ><i class="zmdi zmdi-lock-outline"></i
            ></label>
            <input
            style="text-align : right"
              type="password"
              id="motdepasseConfirm"
              ngModel name="motdepasseConfirm" #motdepasseConfirm="ngModel" type="password" class="form-control" placeholder=" تأكيد كلمة العبور" required
              type="password" class="form-control" required
            />
            <p class="help-block text-danger" style="text-align: right;"></p>
            <div class="alert alert-warning" style="text-align : right" *ngIf="motdepasseConfirm.value !== password.value && motdepasseConfirm.touched">كلمة العبور ليست نفسها  </div>
              </div>




            <div class="form-group">
              <label for=" photo"><i class="zmdi zmdi-lock"></i></label>
              <span style="margin-left: 420px;"> الصورة</span>

              <input type="file" accept="image/*" (change)="onSelectFile($event)"  class="form-control form-control-lg"  ngModel name="photo" id="photo"  > <br>
               <img [src]="imgURL" height="200" *ngIf="imgURL">
               <p class="help-block text-danger" style="text-align: right;"></p>

            </div>



            <div class="form-group">
              <label for="email"><i class="zmdi zmdi-lock"></i></label>
              <input
                type="email"
                name="email"
                id="email"
                [(ngModel)]="par.email"
                placeholder="البريد الإلكتروني "
                style="text-align : right;"
                #email="ngModel" type="email" class="form-control"
                required email
              />
              <p class="help-block text-danger" style="text-align: right;"></p>
              <div class="alert alert-warning" style="text-align : right;" *ngIf="email.touched && email.errors?.['required']">   خانة  البريد الإلكتروني ضرورية</div>
              <div  class="alert alert-warning" style="text-align : right;" *ngIf="email.touched && email.errors?. ['email']">يجب ادخال كلمة العبور بالشكل الصحيح </div>
            </div>





            <div *ngIf="exist" style="text-align : right;">
              <em [style]="{ color: 'red',
                       font: 'bolder italic'}">
                {{ "رقم بطاقة التعريف مستعمل من قبل" }}
              </em>
            </div>










            <div  style="text-align:center;">
              <button
              routerLink="/login"
                type="submit"
                name="signup"
                id="signup"
                class="form-submit"
                style="display: inline-block;margin: 0 2%;"
                value="أملك حساب شخصي"
              >أملك حساب شخصي</button>



              <div *ngIf="wrongCred">
                <em [style]="{ color: 'red', font: 'bolder italic' }">
                  {{ "veuillez saisir tout" }}
                </em>
              </div>


              <button
                type="submit"
                name="signup"
                id="signup"
                class="form-submit"
                style="display: inline-block;margin: 0 2%;"

                (click)="signup(f)"
                  >تسجيل الحساب</button>

                  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>



              <!-- <div class="alert alert-warning" style="text-align : right;" *ngIf="f.invalid"> يحب عليك تعمير جميع الخانات المطلوبة</div> -->

               <!-- <div class="alert alert-warning" style="text-align : right;" *ngIf="f.touched && cin.errors?.['required'] || tel.errors?.['required'] || name.errors?.['required']  || prenom.errors?.['required'] || motdepasseConfirm.errors?.['required'] || password.errors?.['required']||  email.errors?.['required']    "> يحب عليك تعمير جميع الخانات المطلوبة</div> -->


            </div>



          </form>
        </div>
      </div>
    </div>
  </body>

