  <div class=" topline">
  <div id="box" style="height: 10px;" *ngFor="let c of listetab; index as i">
<h2 style="margin-right: 240%; font-size: 400%;" > بيانات المؤسسة </h2><br><br>
<table >
  <tr class="table-light" >

    <th style="height: 50%;">شعار المؤسسة او الشركة</th>
    <td>
      <img [src]="'data:image/jpeg;base64,' + c.logo" style="width: 180px;height: 120px;" />
    </td>
  </tr>
  <tr class="table-light">
    <th style="width: 50%;">اسم المؤسسة</th>
    <td>{{c.nom}}</td>

  </tr>
  <tr class="table-light">
    <th style="width: 50%;">عنوان المؤسسة</th>
    <td>{{c.adresse}}</td>

  </tr>
  <tr class="table-light">
    <th style="width: 50%;">البريد الالكتروني الخاص بالمؤسسة</th>
    <td>{{c.email}}</td>

  </tr>
  <tr class="table-light">
    <th style="width: 50%;">رقم الفاكس</th>
    <td>{{c.telephone}}</td>

  </tr>

  <tr class="table-light">
    <th style="width: 50%;">رقم الهاتف</th>
    <td>{{c.numFix}}</td>

  </tr>
  <tr class="table-light">

    <th >صورة الخلفية</th>
    <td>
      <img [src]="'data:image/jpeg;base64,' + c.imagefond" style="width: 200px;height: 180px;" />
    </td>
  </tr>
</table>
  <br><br><br>

      <div class="form-group row">
          <div class="col-md-5" style="text-align: center; "><button class="btn btn-warning" role="button" [routerLink]="['/admin/etablissement/', c.id]" style="font-size: 150%;">تغيير البيانات</button></div>
          </div>


</div></div>



