<div class="login-box">
  <div class="signin topline" >

  <div id="box" style="height: 10px;" *ngFor="let c of listetab; index as i">
<h1 style="text-align:center"> Données Etablissement </h1><br><br>
<tr class="table-light" >
  
  <th style="width: 600px;">Logo</th>
  <th style="width: 600px;">Nom</th>
  <th style="width: 600px;">Adresse</th>
  <th style="width: 600px;">Email</th>
  <th style="width: 600px;">Telephone</th>
  <th style="width: 600px;">Fond</th> </tr>
 <tr  class="table-light" >
  <td>
    <img [src]="'data:image/jpeg;base64,' + c.logo" style="width: 180px;height: 120px;" />
  </td>

  <td >{{c.nom}}</td>
  <td >{{c.adresse}}</td>
  <td >{{c.email}}</td>
  <td >{{c.telephone}}</td>
  
  <td>
    <img [src]="'data:image/jpeg;base64,' + c.imagefond" style="width: 180px;height: 180px;" />
  </td>  </tr><br><br><br>
 
      <div class="form-group row">
          <div class="col-md-5" style="text-align: center;"><button class="btn btn-warning" role="button" [routerLink]="['/admin/etablissement/', c.id]">modifier</button></div>
          </div>
       

</div></div></div>



