.bg{
  background-color: rgb(225, 217, 186);
}

img {
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
}

.conteneur-text,img:hover {
  opacity: 0.5;
  color: gray;
}

.conteneur-texte {
  position: absolute;
  top:25%;
  left:25%;
  transform: translate(25%, 25%);
  z-index: 1;
}

.conteneur-texte p {
  color: white;
  font-size: 50px;
}




.button-black {
 text-align: center;
 margin-left: 150px;
 width:200px;
 height: 80px;
 font-size: 30px;
 background-color: rgb(47, 46, 46);
 color: white;
border-radius: 30px;


}

.img1{

    float:inline-start;
    margin: 0px;
    width: 200px;
    height: 100px;

}

.dropdown-menu{ width: 50px;margin-right: 200PX;}





