<div style="height: 80px;"></div>
<h1>إستمارة طلب اترشح للمناظرة </h1>
<div style="height: 80px; "></div>

<div style="height: 80px; background-color:rgb(222, 243, 247);width: 1200px;margin-left: 350px;"></div>
<div class="cadre">

<form (ngSubmit)="onSubmit(candidatureForm)" #candidatureForm="ngForm" >
    <div >
      <fieldset>المعطيات الشخصية </fieldset>
    </div>


    <div class="form-group">
    <label for="cin">رقم البطاقة الوطنية</label>
    <input type="text" class="form-control" id="cin" name="cin" [(ngModel)]="user.cin"  [disabled]="actif">
  </div>
  <div class="form-group">
    <label for="firstName">الاسم الأول</label>
    <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.nom"  [disabled]="actif">
  </div>
  <div class="form-group">
    <label for="lastName">اسم العائلة</label>
    <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.prenom"  [disabled]="actif">
  </div>
  <div class="form-group">
    <label for="phoneNumber">رقم الهاتف</label>
    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.telephone"  [disabled]="actif">
  </div>
  <div class="form-group">
    <label for="email">البريد الإلكتروني</label>
    <input style="text-align: right;" type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email"  [disabled]="actif">
  </div>

  <div>
  <fieldset>المؤهلات العلمية</fieldset>
  </div>

  <div class="form-group">
    <label for="sex">الجنس</label>
    <select class="form-control" id="sex" name="sex" [(ngModel)]="candidat.sex" required>
      <option value="" disabled selected>اختر الجنس</option>
      <option value="male">ذكر</option>
      <option value="female">أنثى</option>
    </select>
  </div>
  <div class="form-group">
    <label for="birthdayDate">تاريخ الولادة</label>
    <input style=" text-align: right;" type="date" class="form-control" id="birthdayDate" name="birthdayDate" [(ngModel)]="candidat.dateNaissance"  required>
  </div>
  <div class="form-group">
    <label for="birthdayPlace">مكان الولادة</label>
    <input type="text" class="form-control" id="birthdayPlace" name="birthdayPlace" [(ngModel)]="candidat.placeNaissnce"  required>
  </div>
  <div class="form-group">
    <label for="civilStatus">الحالة الاجتماعية</label>
    <select class="form-control" id="civilStatus" name="civilStatus" [(ngModel)]="candidat.statutCivil"  required>
      <option value="" disabled selected>اختر الحالة الاجتماعية</option>
      <option value="single">أعزب/عزباء</option>
      <option value="married">متزوج/متزوجة</option>
      <option value="divorced">مطلق/مطلقة</option>
      <option value="widowed">أرمل/أرملة</option>
    </select>
  </div>





  <div class="form-group">
    <label for="address">العنوان</label>
    <input type="text" class="form-control" id="address" name="address" [(ngModel)]="candidat.adress"  required>
      <div class="row">
        <div class="col-sm-4">
          <label for="zipCode">الرمز البريدي</label>
      <input type="text" class="form-control" id="zipCode" name="zipCode" [(ngModel)]="candidat.zipCode" required>
        </div>

      <div class="col-sm-4">
        <label for="state">الولاية</label>
    <input type="text" class="form-control" id="state" name="state" [(ngModel)]="candidat.etatVille" required>
  </div>

  <div class="col-sm-4">
    <label for="city">المدينة</label>
<input type="text" class="form-control" id="city" name="city" [(ngModel)]="candidat.ville" required>
  </div>

    </div>
  </div>


  <button type="submit">Soumettre</button>








  <div class="form-group">
    <label for="scientificCertificate">الشهادة العلمية</label>
    <input type="text" class="form-control" id="scientificCertificate" name="scientificCertificate"  required>
  </div>
  <div class="form-group">
    <label for="university">الجامعة أو المدرسة</label>
    <input type="text" class="form-control" id="university" name="university"  required>
  </div>
  <div class="form-group">
    <label for="graduationYear">سنة التخرج</label>
    <input type="text" class="form-control" id="graduationYear" name="graduationYear"  required>
  </div>
  <div class="form-group">
    <label for="lastYearRate">نسبة النجاح للسنوات الثلاث الأخيرة</label>
    <div class="row">
      <div class="col-sm-4">
        <label for="lastYearRate1">السنة الأولى</label>
        <input type="text" class="form-control" id="lastYearRate1" name="lastYearRate1"  required>
      </div>
      <div class="col-sm-4">
        <label for="lastYearRate2">السنة الثانية</label>
        <input type="text" class="form-control" id="lastYearRate2" name="lastYearRate2" required>
      </div>
      <div class="col-sm-4">
        <label for="lastYearRate3">السنة الثالثة</label>
        <input type="text" class="form-control" id="lastYearRate3" name="lastYearRate3"  required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="baccalaureateRate">نسبة النجاح في البكالوريا</label>
    <input type="text" class="form-control" id="baccalaureateRate" name="baccalaureateRate"  required>
  </div>
  <button type="submit" class="btn btn-primary">إرسال</button>






  <!-- <button type="submit" style="margin-right:200px;"   class="button-88">ajouter</button> -->

</form>
</div>
<div style="height: 80px; background-color:rgb(222, 243, 247);width: 1200px;margin-left: 350px;"></div>

<div style="height: 100px; "></div>



