<div style="height: 80px;"></div>
<h1>إستمارة طلب اترشح للمناظرة </h1>
<div style="height: 80px; "></div>

<div style="height: 80px; background-color:rgb(222, 243, 247);width: 1200px;margin-left: 350px;"></div>
<div class="cadre">

<form (submit)="submitForm()" #candidatureForm="ngForm" >
    <div >
      <fieldset>المعطيات الشخصية </fieldset>
    </div>


    <div class="form-group">
    <label for="cin">رقم البطاقة الوطنية</label>
    <input type="text" class="form-control" id="cin" name="cin" [(ngModel)]="user.cin"  [disabled]="actif">
  </div>
  <div class="form-group">
    <label for="firstName">الاسم الأول</label>
    <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.nom"  [disabled]="actif">
  </div>
  <div class="form-group">
    <label for="lastName">اسم العائلة</label>
    <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.prenom"  [disabled]="actif">
  </div>
  <div class="form-group">
    <label for="phoneNumber">رقم الهاتف</label>
    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.telephone"  [disabled]="actif">
  </div>
  <div class="form-group">
    <label for="email">البريد الإلكتروني</label>
    <input style="text-align: right;" type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email"  [disabled]="actif">
  </div>



  <div class="form-group">
    <label for="sex">الجنس</label>
    <select class="form-control" id="sex" name="sex" [(ngModel)]="candidat.sex" required>
      <option value="" disabled selected>اختر الجنس</option>
      <option value="ذكر">ذكر</option>
      <option value="أنثى">أنثى</option>
    </select>
  </div>
  <div class="form-group">
    <label for="birthdayDate">تاريخ الولادة</label>
    <input style=" text-align: right;" type="date" class="form-control" id="birthdayDate" name="birthdayDate" [(ngModel)]="candidat.dateNaissance"  required>
  </div>
  <div class="form-group">
    <label for="birthdayPlace">مكان الولادة</label>
    <input type="text" class="form-control" id="birthdayPlace" name="birthdayPlace" [(ngModel)]="candidat.placeNaissnce"  required>
  </div>
  <div class="form-group">
    <label for="civilStatus">الحالة الاجتماعية</label>
    <select class="form-control" id="civilStatus" name="civilStatus" [(ngModel)]="candidat.statutCivil"  required>
      <option value="" disabled selected>اختر الحالة الاجتماعية</option>
      <option value="أعزب/عزباء">أعزب/عزباء</option>
      <option value="متزوج/متزوجة">متزوج/متزوجة</option>
      <option value="مطلق/مطلقة">مطلق/مطلقة</option>
      <option value="أرمل/أرملة">أرمل/أرملة</option>
    </select>
  </div>





  <div class="form-group">
    <label for="address">العنوان</label>
    <input type="text" class="form-control" id="address" name="address" [(ngModel)]="candidat.adress"  required>
      <div class="row">
        <div class="col-sm-4">
          <label for="zipCode">الرمز البريدي</label>
      <input type="text" class="form-control" id="zipCode" name="zipCode" [(ngModel)]="candidat.zipCode" required>
        </div>

      <div class="col-sm-4">
        <label for="state">الولاية</label>
        <select name="governorate" class="form-control" id="state" name="state" [(ngModel)]="candidat.etatVille" required>

          <option value="أريانة">أريانة</option>
          <option value="باجة">باجة</option>
          <option value="بن عروس">بن عروس</option>
          <option value="بنزرت">بنزرت</option>
          <option value="قابس">قابس</option>
          <option value="قفصة">قفصة</option>
          <option value="جندوبة">جندوبة</option>
          <option value="القصرين">القصرين</option>
          <option value="القيروان">القيروان</option>
          <option value="الكاف">الكاف</option>
          <option value="قبلي">قبلي</option>
          <option value="المهدية">المهدية</option>
          <option value="منوبة">منوبة</option>
          <option value="مدنين">مدنين</option>
          <option value="المنستير">المنستير</option>
          <option value="نابل">نابل</option>
          <option value="صفاقس">صفاقس</option>
          <option value="سيدي بوزيد">سيدي بوزيد</option>
          <option value="سوسة">سوسة</option>
          <option value="تطاوين">تطاوين</option>
          <option value="توزر">توزر</option>
          <option value="تونس">تونس</option>

        </select>

  </div>

  <div class="col-sm-4">
    <label for="city">المدينة</label>
<input type="text" class="form-control" id="city" name="city" [(ngModel)]="candidat.ville" required>
  </div>

    </div>
  </div>




  <div>
    <fieldset>المؤهلات العلمية</fieldset>
    </div>
    <div *ngFor="let diplome of diplomes; let i = index">


  <div class="form-group">
    <label for="scientificCertificate">الشهادة العلمية</label>
    <!-- <select class="form-control" id="civilStatus" name="civilStatus" [(ngModel)]="diplome.diplome"  required> -->
      <select class="form-control" type="text" name="diplome{{ i + 1 }}" [(ngModel)]="diplomes[i].diplome" required>

      <option value="شهادة البكالوريا">شهادة البكالوريا</option>
      <option value="شهادة الماجستير">شهادة الماجستير</option>
      <option value="شهادة الدكتوراه">شهادة الدكتوراه</option>
    </select>
  </div>



  <div class="form-group">
    <label for="specialite"> إسم التخصص</label>
    <!-- <input type="text" class="form-control" id="specialite" name="specialite" [(ngModel)]="diplome.specialite"  required> -->
    <input type="text" name="specialite{{ i + 1 }}" [(ngModel)]="diplomes[i].specialite" required>
  </div>

  <div class="form-group">
    <label for="university">الجامعة أو المدرسة</label>
    <!-- <input type="text" class="form-control" id="university" name="university" [(ngModel)]="diplome.faculte" required> -->
    <input type="text" name="faculte{{ i + 1 }}" [(ngModel)]="diplomes[i].faculte" required>
  </div>
  <div class="form-group">
    <label for="graduationYear">سنة التخرج</label>
    <!-- <input type="text" class="form-control" id="graduationYear" name="graduationYear" [(ngModel)]="diplome.anneeObtention" required> -->
    <input type="text" name="anneeObtention{{ i + 1 }}" [(ngModel)]="diplomes[i].anneeObtention" required>

  </div>

  <div class="form-group">
    <label for="lastYearRate"> معدلات الثلاث سنوات الأخيرة المكللة بالنجاح </label>
    <div class="row">
      <div class="col-sm-4">
        <label for="lastYearRate3">السنة الثالثة</label>
        <!-- <input type="text" class="form-control" id="lastYearRate3" name="lastYearRate3"  required  placeholder="  XX.XX   معدل3" [(ngModel)]="diplome.moyenne3"> -->
        <input type="text" name="moyenne3{{ i + 1 }}" [(ngModel)]="diplomes[i].moyenne3" required>

      </div>
      <div class="col-sm-4">
        <label for="lastYearRate2">السنة الثانية</label>
        <!-- <input type="text" class="form-control" id="lastYearRate2" name="lastYearRate2" placeholder="  XX.XX   معدل2" required [(ngModel)]="diplome.moyenne2"> -->
        <input type="text" name="moyenne2{{ i + 1 }}" [(ngModel)]="diplomes[i].moyenne2" required>

      </div>

      <div class="col-sm-4">
        <label for="lastYearRate1">السنة الأولى</label>
        <!-- <input type="text" class="form-control" id="lastYearRate1" name="lastYearRate1" placeholder="  XX.XX   معدل1"  required [(ngModel)]="diplome.moyenne1"> -->
        <input type="text" name="moyenne1{{ i + 1 }}" [(ngModel)]="diplomes[i].moyenne1" required>

      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="baccalaureateRate">نسبة النجاح في البكالوريا</label>
    <!-- <input type="text" class="form-control" id="baccalaureateRate" name="baccalaureateRate"  placeholder=" XX.XX معدل الباكالوريا " required [(ngModel)]="diplome.moyenneBac"> -->
    <input type="text" name="moyenneBac{{ i + 1 }}" [(ngModel)]="diplomes[i].moyenneBac" required>

  </div>
  <button type="button" class="bajout" (click)="deleteDiplome(i)">حذف هذه الشهادة العلمية</button>
<br><br>
    </div><br>
    <button type="button" class="bajout" (click)="addDiplome()">إضافة شهادة علمية أخرى</button>

    <br><br><br><br>
  <button type="submit" class="btn btn-primary">إرسال</button>














  <!-- <div *ngFor="let diplome of diplomes; let i=index" class="diplome-inputs">
    <h4>Diplôme {{ i + 1 }}</h4>
    <label>Diplôme:</label>
    <input type="text" name="diplome{{ i + 1 }}" [(ngModel)]="diplomes[i].diplome" required>

    <label>Spécialité:</label>
    <input type="text" name="specialite{{ i + 1 }}" [(ngModel)]="diplomes[i].specialite" required> -->

    <!-- ... Other inputs for the diploma ... -->

    <!-- <button type="button" (click)="deleteDiplome(i)">Supprimer ce diplôme</button> -->
  <!-- </div> -->



  <!-- <button type="submit" style="margin-right:200px;"   class="button-88">ajouter</button> -->

</form>
</div>
<div style="height: 80px; background-color:rgb(222, 243, 247);width: 1200px;margin-left: 350px;"></div>

<div style="height: 100px; "></div>



