<div class="login-box">
  <div class="signin topline">

  <div id="box">
 <h1>  المعلومات الشخصية للمسؤول  </h1>
 <br><br><br>
<form>
<div class="row" style="width: 150%;">


  <div class="col" style="text-align: right;">
    <label class="col-form-label col-form-label-lg"> الاسم</label>
    <input type="text"class="form-control form-control-lg"   [(ngModel)]="user.prenom" name="prenom"  [disabled]="actif" style="text-align: right;"> <br>
    </div>


<div class="col" style="text-align: right;">
  <label  class="col-form-label col-form-label-lg">اللقب</label>
  <input type="text"class="form-control form-control-lg"  [(ngModel)]="user.nom" name="nom"  [disabled]="actif" style="text-align: right;"> <br>
</div>

</div>



<div class="row" style="width: 150%;">
  <div class="col" style="text-align: right;">
  <label  class="col-form-label col-form-label-lg" >رقم الهاتف الجوال</label>
  <input style="text-align: right;" type="text"class="form-control form-control-lg"  [(ngModel)]="user.telephone" name="tel"  [disabled]="actif"> <br>
  </div>

  </div>


<div class="row" style="width: 150%;">
<div class="col" style="text-align: right;">
<label class="col-form-label col-form-label-lg"style="text-align: right;" > البريد الالكتروني</label>
<input type="text" ngModel class="form-control form-control-lg"  [(ngModel)]="user.email"  name="email" [disabled]="actif"style="text-align: right;"> <br>
</div>
</div>



<div class="row"style="width: 150%;">
<div class="col" style="text-align: right;">
<label class="col-form-label col-form-label-lg"style="text-align: right;"> رقم بطاقة التعريف الوطنية </label>
<input type="text" ngModel class="form-control form-control-lg"  [(ngModel)]="user.cin" name="cin" [disabled]="actif"style="text-align: right;"> <br>
</div>
</div>


<div class="row" style="width: 150%;">
<div class="col" style="text-align: right;">
<label class="col-form-label col-form-label-lg" style="text-align: right;"> كلمة العبور </label>
<input type="password" ngModel class="form-control form-control-lg" [(ngModel)]="user.motdepasse" name="password" [disabled]="actif" style="text-align: right;"><br>
</div>
</div>




<button type="submit" class="button-88" (click)="activer()" *ngIf="actif">تغيير المعلومات</button>
<button type="submit" class="button-44" (click)="update()" *ngIf="!actif">تسجيل التغيير</button>

</form>
</div>

  </div>
</div>
