

    <div class="row" >


<div class="col-8 ">
<h1 style="text-align: center; margin-top: 50px; font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;" >طلبات الترشح </h1><br>

<table style="margin-top: 5%; margin-left: 100px; ">

  <div *ngFor="let c of candidatlist; index as i" >
    <div *ngFor="let co of listconcours; index as j">
    <div class="table-light" *ngIf="c.concoursId==co.id && c.userId==u.id">
    <tr>
      <th><button class="btn btn-light" *ngIf="c.etat==true" [routerLink]="['/profil/recu',c.id]">طباعة</button></th>

      <th  *ngIf="c.etat === true">
        <ng-container *ngIf="c.reussite !== true && c.reussite !== false">
          <p>  نتيجة المناضرة  لم يتم الاطلاع بعد  </p>
        </ng-container>
        <ng-container *ngIf="c.reussite === true">
          <p>  نتيجةالمناضرة: ناجح </p>

        </ng-container>
        <ng-container *ngIf="c.reussite === false">
          <p> نتيجة المناضرة:  راسب </p>
        </ng-container></th>

      <th>

      <ng-container *ngIf="c.etat !== true && c.etat !== false">
        <p>لم يتم الاطلاع بعد</p>
      </ng-container>
      <ng-container *ngIf="c.etat === true">
        <p>مقبول</p>
      </ng-container>
      <ng-container *ngIf="c.etat === false">
        <p>مرفوض</p>
      </ng-container></th>
      <th id="ligne">{{c.score}}</th>
      <th id="ligne">{{co.dateDelais}}</th>
      <th id="ligne">{{co.description}}</th>
      <th id="ligne">{{co.dateExamen}}</th>
      <th id="ligne">{{co.poste}}</th>







  </tr></div></div></div>

</table>



</div>
<div class="col-4 " style="margin-top: 0px;">
  <div class="side_wrapper" style="margin-right: 200px;">
    <section class="about-dev" >
      <header class="profile-card_header">
        <div class="profile-card_header-container">
          <div class="profile-card_header-imgbox">
            <img [src]="'data:image/jpeg;base64,' + u.photo" alt="Mewy Pawpins" />
          </div>
          <h1> {{u.prenom}} {{u.nom}}  <span> معلومات شخصية</span></h1>
        </div>
      </header>
      <div class="profile-card_about">



        <p> الإسم :  {{u.prenom}}</p>
        <p>اللقب :  {{u.nom}} </p>
        <p >{{u.email}} : البريد  </p>
        <p> كلمة العبور </p>
        <p> الهاتف: {{u.telephone}}</p>
        <p> رقم بطاقة التعريف : {{u.cin}}</p>


              <footer class="profile-card_footer">
          <div class="social-row">
            <div class="heart-icon" title="No Health Issues">
            </div>


          </div>
          <p>   <button class="back-to-profile" (click)="open()" >تغيير الحساب</button> <br> <br>
            <button  class="back-to" (click)="logOut()" >غلق الحساب </button>
          </p>

        </footer>
      </div>
    </section>
  </div>


<!-- modifier données  -->

<div class="modal fade my-modal" tabindex="-1" role="dialog" #add >
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body" >
        <form  style="text-align: right;">
          <div class="form-group">
            <label>رقم بطاقة التعريف</label>
            <input type="text"  [(ngModel)]="u.cin" name="cin" class="form-control" id="cin" placeholder="cin" style="text-align: right;">
         </div>


          <div class="form-group">
             <label>الإسم</label>
             <input type="text"  [(ngModel)]="u.prenom" name="prenom" class="form-control" id="prenom" placeholder="prenom"style="text-align: right;">
          </div>

          <div class="form-group">
            <label for="name">اللقب</label>
            <input type="text" [(ngModel)]="u.nom" name="nom" class="form-control" id="nom" aria-describedby="emailHelp" placeholder="Nom" style="text-align: right;">
         </div>

          <div class="form-group">
            <label >البريد</label>
            <input type="text" name="email" class="form-control" [(ngModel)]="u.email" id="email" placeholder="email" style="text-align: right;">
         </div>
         <div class="form-group">
          <label >كلمة العبور </label>
          <input type="password" name="password" class="form-control" [(ngModel)]="u.motdepasse" id="motdepasse" placeholder="mot de passe" style="text-align: right;">
         </div>
         <div class="form-group">
          <label >الهاتف</label>
          <input type="text" name="infosSupp.cin" [(ngModel)]="u.telephone" class="form-control" id="telephone" placeholder="telephone" style="text-align: right;">
       </div>

          <div class="modal-footer">
             <button type="button" id="" data-dismiss="modal" class="btn btn-secondary" (click)="close()">اغلاق</button>
             <button (click)="onUpdateUser()" data-dismiss="modal" class="btn btn-primary" >تطبيق التغيير</button>
          </div>

       </form>
      </div>
    </div>
  </div>
</div>
