

.topline {
  display:inline-flex;
  position: relative;
  bottom: 900px;
  left: 600px;
padding: 15rem 15rem;
background-color:white;
}
.topline:after {
    content: "";
    position: absolute;
    width: 20%;
    transform: scaleX(1);

    height: 5px;
    top: -5px;
    left: 0;

  }
@media screen and (max-width: 776px) {
.login-box {
  padding: 40rem 2rem !important;
  right: unset !important;
  width: 100px;
  max-width: 1000px;
}
}

#box{
position: relative;
bottom: 200px;

}
h2{
position: relative;
right: 220px;
bottom: 40px;
}




.button-88 {

align-items: center;
font-family: inherit;
font-weight: 500;
font-size: 16px;
padding: 0.7em 1.4em 0.7em 1.1em;
color: white;
background: #ad5389;
background: linear-gradient(0deg, rgb(85, 218, 123) 0%, rgb(101, 205, 246) 100%);
border: none;
box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
letter-spacing: 0.05em;
border-radius: 20em;
cursor: pointer;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}






.button-88:hover {
box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}




/* CSS */
.button-44 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #f50202;
  background: linear-gradient(0deg, rgb(244, 7, 7) 0%, rgb(255, 104, 104) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #ff040498;
  letter-spacing: 0.05em;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-44:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-44:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
